{% extends "layout.html" %}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('       {{ url_for('static',filename='img/coffee.jpg') }}          ')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Coffee</h1>  
            <span class="subheading">“Coffee isn’t a drug it’s a vitamin.”</span>          
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Coffee is part of the botanical family Rubiaceae, one of the largest families in the plant kingdom. 
          The Rubiaceae family comprises almost 500 genera and more than 6,500 species. Species in this family include trees, 
          shrubs, and herbs. They grow widely in tropical and sub-tropical regions throughout the world and are typically found 
          in the lower story of forests.Economically, the coffee plant (the Coffea genus) is by far the most important member of
           the Rubiaceae family, but other members of the family are also economically significant.</p>

          <h2 class="section-heading">Health Benefits of Coffee</h2>

              <p>  •    Coffee boosts your physical performance.</p>
              <p>  •	Coffee may help you lose weight</p>
              <p>  •	Coffee helps you burn fat.</p>
              <p>  •	Coffee helps you focus and stay alert</p>
              <p>  •	Coffee lowers risk of death.</p>
              <p>  •	Coffee reduces risk of cancers.</p>
              <p>  •	Coffee reduces risk of stroke.</p>
              <p>  •	Coffee reduces risk of Parkinson’s disease. </p>
              <p>  •	Coffee protects your body. </p>
              <p>  •    Coffee may lower risk of Type II diabetes.</p>
              
         <h2 class="section-heading">Coffee Varieties in India</h2>

              <p>The two main varieties of coffee viz., Arabica and Robusta are grown in India. Arabica is mild coffee,
               but the beans being more aromatic, it has higher market value compared to Robusta beans.
               On the other hand Robusta has more strength and is, therefore, used in making various blends.</p>
              
              
        <h2 class="section-heading">Climate Required for Coffee Cultivation</h2>

              <p>Ideal climatic conditions to grow coffee are related to temperature and rainfall; temperatures in the range of 73 °F (23 °C) 
              and 82 °F (28 °C) with rainfall incidence in the range of 60–80 inches (1.5–2.0 m) followed by a dry spell of 2–3 months suit
              the Arabica variety.</p>
        
        
        <h2 class="section-heading">Soil Requirement for Coffee Cultivation</h2>

              <p>Soil is the guiding factor in coffee plantation. The ideal soil is one with a good sub-surface drainage, and one
               that is easily workable. The presence of humus and other nitrogenous matter in the soil is an advantage.
              Well-drained volcanic soils like the terra-roxa of Brazil which contain much potash as well as organic material are the best.</p>
        
        <h2 class="section-heading">Land Preparation for Coffee Cultivation</h2>

              <p>Select light loamy soil of good drainage with high organic matter content with water and shade facilities. 
              Form raised beds of 15 cm height, 1m width and at convenient length.
              Incorporate 30 - 40 kg of well rotten compost, 2 kg of finely sieved agricultural lime and 400 g of rock phosphate
              to a bed of 1 x 6 m size.</p>
        
        
        <h2 class="section-heading">Planting and Spacing in Coffee Cultivation</h2>

              <p>Spacing for arabica and robusta coffee is 2 to 2.5m and 2.5 to 4m respectively on either way. 
              A close planting at 1-1.5 m eitherway and reduce the population by half after one or two harvests is good</p>
        
        <h2 class="section-heading">Irrigation in Coffee Cultivation</h2>

              <p>Precision irrigation, one of the modern irrigation techniques, as opposed to the conventional ones, results in a lot of 
              benefits to coffee cultivators. It is a sustainable solution towards coffee cultivation, and therefore, its acceptance is 
              increasingly growing across the country. Here’s how precision farming helps coffee cultivators.Helps achieve crop uniformity
               and reduces the number of fruit abortions Increases the cherry size, and ensures optimum crop potential 
               Helps graduate the cultivation from the initial planting to full-fledged commercial production in only three years,
                thereby bettering the Return on Investment Supplies the required amount of water and nutrients to the crop root zone,
                thus avoiding nutrient deficiency, and leaching Prevents water evaporation or run-off The digital aspect involved
                 in precision irrigation helps control agricultural activities remotely, and the availability of real-time information,
                  anytime and anywhere, fosters quicker and informed decision making.</p>
               
       <h2 class="section-heading">Manures and Fertilizers in Coffee Cultivation</h2>

              <p>Apply well-composted organic manure @ 10- 15 kg per plant to improve soil fertility.
                Apply balanced nutrients and follow good cultural operations to maintain the vigour of the plants.
                Use grafted plants (Arabica on robusta rootstock) for planting or replanting in the affected block.</p>
               
          <h2 class="section-heading">Pests and Diseases in Coffee Cultivation</h2>

              <p>Coffee leaf rust (FUNGUS - Hemileia vastatrix) 
            • Yellow-orange powdery spots on underside of leaves. • Corresponding yellow-white patches on upper surface of leaf. 
            </p>
            
            <p>Coffee berry disease (FUNGUS - Colletotrichum kahawae) 
            • Dark brown-black, slightly sunken lesions develop on green berries. • Pink powder (spores of fungus) may be visible on lesions. Berries eventually rot.
            </p>
            
            <p>Coffee wilt disease (FUNGUS - Gibberella xylarioides)
             • Leaves yellow, dry and fall from tree (left). Berries ripen prematurely. • Blue-black discoloration of wood beneath bark (right, arrowed). • Tree eventually dies. 
            </p>
            
            <p>Coffee berry borer (INSECT – Hypothenemus hampei)
            • Small, round holes (1 mm diameter) visible near tip of berry. • Beans become blue-green, young berries may rot. • Adult borer present in or on berries or beans. Small white larvae seen in beans (inset, arrowed).
            </p>     
               
               
           <h2 class="section-heading">Harvest in Coffee Cultivation</h2>

              <p>Because coffee plants are usually cultivated in tropical areas with very balanced climate, the seasons normally only differ 
              very slightly. Therefor, the flowering period and the fruits resulting from it, don not depend on the season but on heavy rainfalls.
               This behavior of the coffee plants sometimes causes server damages to the coffee industry at times of drought, then resulting in
                rocketing world market prices of coffee. The coffee plant will start blooming about two to three weeks after a proper rainfall,
                 even if it is raining 10 or more times in one year. Because, depending on the type of plant, it will take six to nine months 
                 until the flowers and ovary ripe into coffee cherries, at all times cherries and flowers in all kinds of development stages can
                  be found on a single plant. Therefor a selective readout for high quality and ripe coffee cherries is only possible by
                   the old school picking-method.</p>
               
               
           <h2 class="section-heading">Yield in Coffee Cultivation</h2>

              <p>Yield of any crop in the horticulture world depends on manyfactors such as soil type , climate, varieties, 
              irrigation/rainfall, and other gardenmanagement practices. Under ideal conditions, one can expect the following yields.</p>
                <p>1.
                Coffee Arabica –
                400 – 700 kg/ha</p>
                <p>2.
                Coffee Robusta –
                350 – 750 kg/ha</p>     
               
          <h2 class="section-heading">Demand for Coffee</h2>

              <p>Global exports in February 2020 totalled 11.11 million bags, compared with 10.83 million bags in February 2019, but shipments 
              in the first five months of coffee year 2019/20 decreased by 3.4% to 50.97 million bags. In 2019/20, world coffee consumption is 
              estimated at 169.34 million bags, 0.7% higher than in 2018/19 as Covid-19 presents considerable downside risk to global coffee 
              consumption.Currently demand is estimated to exceed production, projected at 168.86 million bags, by 0.47 million bags in coffee 
              year 2019/20. </p>     
        
        
        </div>
      </div>
    </div>
  </article>

 {% endblock %}