{% extends "layout.html" %}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('       {{ url_for('static',filename='img/loan1.jpg') }}          ')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>AGRICULTURAL LOAN</h1>           
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Agricultural loans are availed by a farmer to fund seasonal agricultural operations or related activities like animal farming, 
          pisci-culture or purchase of land or agricultural tools.This type of loan also helps buying inputs such as fertilizers, seeds, 
          insecticides etc. and engaging labour for cultivating and harvesting the crops.</p><p>In addition, purchasing of land, or purchasing of 
          agricultural tools, storage of produce and transport, cost of ploughing land for sowing, weeding, and transplantation also are 
          included under purview of agricultural loans.</p>

          <h2 class="section-heading">Agricultural Loan Providers</h2>

              <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link" href="https://www.bankbazaar.com/personal-loan/hdfc-agriculture-loan.html" target="_blank"><button class="btn btn-primary">
                HDFC</a>
              </li>&nbsp;&nbsp;
              <li class="nav-item">
                <a class="nav-link" href="https://www.bankbazaar.com/personal-loan/icici-agriculture-loan.html" target="_blank"><button class="btn btn-primary">
                ICICI</a>
              </li>&nbsp;&nbsp;
              <li class="nav-item">
                <a class="nav-link" href="https://www.bankbazaar.com/personal-loan/sbi-agriculture-loan.html" target="_blank"><button class="btn btn-primary">
                SBI</a>
              </li>&nbsp;&nbsp;
              <li class="nav-item">
                <a class="nav-link" href="https://www.bankbazaar.com/personal-loan/nabard.html" target="_blank"><button class="btn btn-primary">
                NABARD</a>
              </li
            </ul>
              
         <h2 class="section-heading">Agricultural Loan Interest Rate</h2>

              <table class="table">
                  <thead>
                  <tr>
                    <th>Interest rate</th>
                    <th>Processing fee</th>
                  </tr></thead>
                  <tbody>
                  <tr>
                    <td>7% p.a. onwards</td>
                    <td>0% to 4% of the loan amount</td>
                  </tr>
                  </tbody>
                </table>
              
              
        <h2 class="section-heading">Agriculture Loan Interest Rate for different Banks in India </h2>

              <table class="table">
                  <thead>
                  <tr>
                    <th>Bank</th>
                    <th>Interest rate</th>
                    <th>Processing fee</th>
                  </tr></thead>
                  <tbody>
                  <tr>
                    <td>State Bank of India </td>
                    <td>7.25% p.a. onwards</td>
                    <td>0% p.a. to 1.25% p.a. of the loan amount </td>
                  </tr>
                  <tr>
                    <td>ICICI Bank </td>
                    <td>9.6% p.a. onwards </td>
                    <td>0.5% p.a. to 4% p.a. of the loan amount</td>
                  </tr>
                  <tr>
                    <td>IDBI Bank </td>
                    <td>7% p.a. onwards </td>
                    <td>At the discretion of the bank </td>
                  </tr>
                  <tr>
                    <td>IndusInd Bank  </td>
                    <td>10% p.a. onwards </td>
                    <td>1.25% of the loan amount + GST </td>
                  </tr>
                  <tr>
                    <td>Central Bank of India  </td>
                    <td>Up to 13.25% p.a. </td>
                    <td>At the discretion of the bank  </td>
                  </tr>
                  <tr>
                    <td>Karur Vysya Bank </td>
                    <td>8.30% p.a. onwards </td>
                    <td>At the discretion of the bank </td>
                  </tr>
                  </tbody>
                </table>
        
        
        <h2 class="section-heading">Types of Agriculture Loan </h2>

              <p> • Crop Loan: These types of loans are also known as Retail Agri Loans is a type of loan which allows a farmer to 
              meet his short-term expenses arising due to cultivation of crops, maintenance of farm equipment, and other post farm activities. 
              The farmer gets a credit card called the Kisan Credit Card on availing this type of loan which they can use to withdraw money to
               make necessary purchases to meet their farming needs. </p>
               <p> • Agricultural Term Loan: These are long term loan schemes which a farmer can avail to meet their non-seasonal expenses. 
               One can avail this loan to buy or upgrade equipment such as windmills, solar power, etc. 
               The repayment tenure for such kind of loan schemes can go up to 4 years allowing the farmer to repay the amount in a convenient manner. </p>
               <p> • Solar Pump Set Loan: If a farmer is involved in small irrigation projects and require capital to buy photo voltaic pumping system, 
               then availing a solar pump set loan is the appropriate option. The repayment tenure for such loan schemes go up to 10 years. </p>
               <p> • Loan for Allied Agricultural Activities: Farmers involved in allied agricultural activities can apply for such type of 
               loans if they need to raise working capitals to meet their farming expenses. </p>
               <p> • Farm Mechanisation Loan: If a farmer requires working capital so that they can either purchase new farming machineries or upgrade
                their existing ones such as purchasing a new tractor or getting an old one repaired, then they can apply for these types of loan
                 schemes.  </p>
        
        <h2 class="section-heading">Providers of Agricultural Loan</h2>

              <table class="table">
                  <thead>
                  <tr>
                    <th>Name of the Lender</th>
                    <th>Major Types of Agricultural Loans Offered</th>
                  </tr></thead>
                  <tbody>
                  <tr>
                    <td>State Bank of India </td>
                    <td>Crop Loan, Kisan Credit Card (KCC), Drip Irrigation Loan, Combine Harvestor Loan</td>
                  </tr>
                  <tr>
                    <td>ICICI Bank </td>
                    <td>Retail Agricultural Loan, Long Term Agricultural Loan </td>
                  </tr>
                  <tr>
                    <td>Union Bank </td>
                    <td>Crop Loan, Union Gold Loan, Kisan Credit Card, Bio Gas Loan, Farm Mechanization Loan</td>
                  </tr>
                  <tr>
                    <td>Axis Bank  </td>
                    <td>Kisan Power, Kisan Matsya, Kisan Mitra, AGPRO Power</td>
                  </tr>
                  <tr>
                    <td>Central Bank of India  </td>
                    <td>Cent Kisan Tatkal Scheme, Cent Vermicompost Scheme, Cent Solar Water Heater Scheme, Kisan Credit Card</td>
                  </tr>
                  <tr>
                    <td>NABARD</td>
                    <td>Agriclinic and Agribusiness Centres Scheme, National Livestock Mission, New Agricultural Marketing Infrastructure</td>
                  </tr>
                  </tbody>
                </table>
        
        
        <h2 class="section-heading">How to Apply for an Agriculture Loan?</h2>

              <p>If you are looking to apply for an agriculture loan, it is advisable to research your options online and apply for a loan of your choice by visiting the nearest branch of a lender.
               When visiting the branch, ensure that you carry the required documentation along with you to quicken the application process.</p>
                <p>Certain lenders may also give prospective borrowers the option to apply for an agriculture loan online through their official 
                websites. In this case, you will need to navigate to the respective website, click on ‘Apply Now’, enter the required details 
                in the application form, and upload the necessary documents onto the website.</p>
                <p>Regardless of the channel that you choose, the lender will verify your application and approve it. Once your application gets 
            approved, the loan amount will be disbursed into your account.</p>
        
        <h2 class="section-heading">Why Should You Take an Agriculture Loan?</h2>

             <p> • Purchase of farming machinery and equipment<br>
                • Purchase of land <br>
                • Horticulture projects<br>
                • Purchase of vehicles<br>
               • Establishment of small poultry units <br>
                • For working capital needs<br>
                • For seasonal requirements</p>
               
       <h2 class="section-heading">Documents Required for Agriculture Loans</h2>

              <p> • Duly-filled application form<br>
                • KYC documents <br>
                • Horticulture projects<br>
                • Land/asset documents<br>
               • Security PDC <br>
                • Any other document mandated by the lender</p>
               
          <h2 class="section-heading">Eligibility Criteria to Borrow an Agriculture Loan</h2>

              <p>The eligibility criteria to borrow an agriculture loan will vary based
               on the type of loan scheme that you opt for. The generalised eligibility criteria, however, are as follows:
            </p>
            
             <p> • The applicant will have to be between the ages of 18 years and 70 years.<br>
                • The individuals will have to own the necessary assets, which will need to be hypothecated to the bank once the loan is borrowed. <br>
                • Loans can be applied on an individual basis or joint basis, based on the lender’s terms and conditions.</p>
               
        
        
        </div>
      </div>
    </div>
  </article>

 {% endblock %}