
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
    <link href="{{url_for('static',filename='images/icons/favicon.ico') }}" rel="stylesheet" type="text/css">	
<!--===============================================================================================-->
	<link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<!--===============================================================================================-->
	<link href="{{url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
<!--===============================================================================================-->
	<link href="{{url_for('static',filename='fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}" rel="stylesheet" type="text/css">
<!--===============================================================================================-->
	<link href="{{url_for('static',filename='vendor/animate/animate.css') }}" rel="stylesheet" type="text/css">
<!--===============================================================================================-->	
	<link href="{{url_for('static',filename='vendor/css-hamburgers/hamburgers.min.css') }}" rel="stylesheet" type="text/css">
<!--===============================================================================================-->
	<link href="{{url_for('static',filename='vendor/animsition/css/animsition.min.css') }}" rel="stylesheet" type="text/css">
<!--===============================================================================================-->
	<link href="{{url_for('static',filename='vendor/select2/select2.min.css') }}" rel="stylesheet" type="text/css">
<!--===============================================================================================-->	
	<link href="{{url_for('static',filename='vendor/daterangepicker/daterangepicker.css') }}" rel="stylesheet" type="text/css">
<!--===============================================================================================-->
	<link href="{{url_for('static',filename='css/util.css') }}" rel="stylesheet" type="text/css">

	<link href="{{url_for('static',filename='css/main.css') }}" rel="stylesheet" type="text/css">
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">
	

	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action="{{ url_for('login') }}" method="post">
					<span class="login100-form-title p-b-43">
						Login to continue
					</span>
					
					
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email">
						<span class="focus-input100"></span>
						<span class="label-input100">Email</span>
					</div>
					
					
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="password">
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>

					
			

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
					
					<br>
					<div>
						<span class="txt2">Don't have an account?<a href="{{url_for('register')}}" class="btn btn btn-primary"
						 role="button">Register</a></span>
					</div>
					</form>


				<div class="login100-more" style="background-image: url('  {{url_for('static',filename='img/bg-01.jpg') }}   ')" >
				</div>
			</div>
		</div>
	</div>
	
	

	
	
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor/animsition/js/animsition.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor/daterangepicker/moment.min.js') }}"></script>
	<script src="{{url_for('static',filename='vendor/daterangepicker/daterangepicker.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor/countdowntime/countdowntime.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='js/main.js') }}"></script>

</body>
</html>
