{% extends "layout.html" %}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('       {{ url_for('static',filename='img/pista.jpg') }}          ')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Pistachio Nuts</h1>  
            <span class="subheading">“Pistachio nuts, the red ones, cure any problem.”</span>          
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Pistachios are grown for its edible nuts and pistachio tree is a small to medium sized tree with a branching main stem 
          and spreading growth habit. It can reach up to 20 feet height in wild conditions and up to 10 feet in cultivated conditions. 
          Pistachio is one of the culinary nuts grown in most of the countries and belongs to the cashew family. These nuts are the lowest
           calorie of the nuts, but they are rich in phytosterols, antioxidants, unsaturated fat, carotenoids, vitamins and minerals and fiber.
            It is uncertain where pistachio nut trees originated but probably originated from Middle East and Central Asia. Pistachios 
            belong to the family of “Anacardiaceous and genus of “Pistacia”. Basically pistachio trees are either male or female. 
            However, both are required to produce a crop. Usually the nuts are produced on the female trees whereas male trees provide 
            the pollen to fertilize the female tree flowers. Pistachio trees take longer time to get into production stage. 
            Pistachio nuts have excellent demand both locally and internationally.
           One can obtain decent profits if they are grown in right climate by following good pistachio farming practices.</p>

          <h2 class="section-heading">Health Benefits of Pistachio Nuts</h2>

              <p>   •	Pistachios are heart friendly nuts.</p>
              <p>   •	Pistachios are good source of vitamins and minerals.</p>
              <p>   •	Pistachios are low calorie nuts, hence aids in weight management.</p>
              <p>  •	Pistachios help in reducing the risk of age related macular disease.</p>
              <p>  •	Pistachios help in eliminating skin dryness.</p>
              <p>  •	Pistachios are good source of dietary fiber and aids in digestion.</p>
              <p>  •	Pistachios have Aphrodisiac and Antioxidant properties.</p>
              <p>  •	Pistachios protects from getting diabetes.</p>
              <p>  •	Pistachios help in absorption of iron from food.</p>
              <p>  •	Pistachios help in decreasing the LDL (bad cholesterol) level in blood.</p>
              
         <h2 class="section-heading">Pistachio Varieties in India</h2>

              <p>  Kerman, Peter, Chico, Red Aleppo and Jolly are some of the varieties grown in Jammu & Kashmir region.</p>
              
         <h2 class="section-heading">Local Names of Pistachio in India</h2>

              <p> Pista (Hindi, Gujarati, Punjabi, Telugu, Kannada, Marathi, Oriya, Assamese, Bengali), பங்ெகாட்ைட (Tamil), പീസത (Malayalam).</p>
              
        <h2 class="section-heading">Climate Required for Pistachio Cultivation</h2>

              <p>Weather condition is most important factor in growing pistachio crop. These nut trees prefer day temperatures above 36 °Cand 
              winter month’s cold enough to complete their dormant period 7 °C.  These trees don’t grow well in high elevations due to the
              cool temperatures. In India, Jammu & Kashmir is natural location to grow pistachio nuts.</p>
        
        
        <h2 class="section-heading">Soil Requirement for Pistachio Cultivation</h2>

              <p>Pistachio tress can be grown in wide range of soils. However, they prefer well-drained deep sandy loam soils.
               These trees are quite drought tolerant but don’t do well in areas where high humidity is possible. 
               Soil test would be helpful, if you are planning pistachio production on large scale.
               Pistachio trees will produce quality nuts with high yields where soil pH is kept at a range of 7.0 to 7.8.
              These trees are hardy ones which can tolerate higher alkalinity to certain extent.</p>
        
        <h2 class="section-heading">Land Preparation for Pistachio Cultivation</h2>

              <p>When it comes to preparing the land in pistachio cultivation, the process should be similar to other nut crops.
               Soil should bechiselled, ploughed and disked to obtain the soil fine tilts stage.
               If any hardpan is found in the top 6 to 7 feet of soil, it should be broken as pistachio trees are deep
               rooted in nature and these trees are affected by water stagnation.</p>
        
        
        <h2 class="section-heading">Planting and Spacing in Pistachio Cultivation</h2>

              <p>As part of the planting, dig the holes large enough to accommodate the roots. Generally, the Pistachio trees should be planted1 
              inch lower than it was raised in nurseries or containers. When it comes to plant spacing, it depends on irrigation.
              In case of irrigated gardens, plants should be spaced at 6 meter× 6 meter for grid pattern. In areas where irrigation is not available,
              trees can be spaced at 8 meter × 10 meter. For bearing Pistachio nuts, both male and female trees should be planted in the 
              ratio of 1:8 (one male and eight female trees) to 1:10 (one male and ten female trees).</p>
        
        <h2 class="section-heading">Irrigation in Pistachio Cultivation</h2>

              <p>Though Pistachio tress are draught tolerant, they should be maintained with enough moisture whenever needed.
               Mulching is the best practice to retain the water. Drip irrigation can be adopted for proper utilization of water.
               Avoid any water logging conditions. Rainy season don’t need any irrigation.</p>
               
       <h2 class="section-heading">Manures and Fertilizers in Pistachio Cultivation</h2>

              <p>As nitrogen is important fertilizer for any nut crop, pistachios trees have a similar nitrogen requirement just like other 
              nut trees. However, fertilizers should not be applied in the first year of planting but in the subsequent year. 
              Each pistachio tree should be provided with 450 grams of ammonium sulphate in 2 split doses during the growing season. 
              In later years, actual nitrogen (N) of45 kg to 65 kg per acre should be provided.
               Nitrogen should be applied in 2 splits doses over the growing season.</p>
               
          <h2 class="section-heading">Pests and Diseases in Pistachio Cultivation</h2>

              <p>Mites, Stinkbug and Leaf-footed plant bug are the common insect pests found in Pistachio production. Powdery mildew, Rust,
               Alter aria late blight, Armillary root rot, Crown gall, Pistachio dieback, Septoria leaf spot, Panicle and shoot blight, 
               Pistachio spilled and Pistachio twig borer are some of the diseases found in pistachio cultivation. For symptoms and control
               measures, contact your local horticulture.</p>     
               
               
           <h2 class="section-heading">Harvest in Pistachio Cultivation</h2>

              <p>Pistachio trees take longer time to produce nuts. These budded trees become ready to produce fruits for 5 years and
               will not reach maximum production until the 12th year of planting. (Pistachio trees begin bearing the5th year after budding. 
               However, a significant crop is not harvested until the seventh or eighth season. The first full production year starts
               occurring around 12th year only). The easy identification of maturity is when the hull separates easily from the shell.
               Generally, this period extends for 6 to 10 days.Care should be taken while harvesting by avoiding underdeveloped kernels.</p>
               
               
           <h2 class="section-heading">Yield in Pistachio Cultivation</h2>

              <p>Yield of the Pistachio nuts mainly depends on climate ,cultivar (variety) and crop management practices. 
              On an average a yield of 8 to 10 kg per fully matured tree (After 10 to 12 year of budding) can be obtained.</p>     
               
          <h2 class="section-heading">Demand for Pistachio</h2>

              <p>The domestic demand for the product in India is expected to rise in the coming days. 
              Importers are buying larger volumes of product to keep up with the expected increase in demand. 
              Importers are now sourcing a variety of pistachios – shelled, unshelled, processed, and at times infused with different
              flavours from different countries. And, with Jammu and Kashmir being the only region suitable for the cultivation of pistachios
              in India, chances of decline in imports are limited, say importers.  According to Global Industry Analysts, global dry fruit and
              edible nuts markets are expected to reach 4.7 million tonne and 62.6 million tonne, respectively by 2022.
              A major reason behind the growth in demand is the growing awareness about the nutritional value of dry fruits and nuts.</p>     
        
        
        </div>
      </div>
    </div>
  </article>

 {% endblock %}